기말고사/KimHyeonWoo_flows.json
[{"id":"215d2cc1a50d4d54","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"4a105fb0eb998969","type":"inject","z":"215d2cc1a50d4d54","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":160,"wires":[["37db261fa58f9bf4"]]},{"id":"37db261fa58f9bf4","type":"function","z":"215d2cc1a50d4d54","name":"random generator","func":"var rannum = Math.floor(Math.random() * 20);\nmsg.payload = rannum\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["071bfa535faf65b2"]]},{"id":"e23e1ba665d50fcd","type":"debug","z":"215d2cc1a50d4d54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"071bfa535faf65b2","type":"function","z":"215d2cc1a50d4d54","name":"to Cloudant","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":280,"wires":[["e23e1ba665d50fcd","42ee4b9d540f8897"]]},{"id":"42ee4b9d540f8897","type":"cloudant out","z":"215d2cc1a50d4d54","name":"random","cloudant":"","database":"","service":"_ext_","payonly":false,"operation":"insert","x":400,"y":340,"wires":[]}]